[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gtts = "*"
opencv-python = "*"
pillow = "*"
praw = "*"
tqdm = "*"
mutagen = "*"
pydub = "*"
moviepy = "*"
ffmpeg = "*"

[dev-packages]

[requires]
python_version = "3.6"
